<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>649122217063-grv5etqso217e7bher2ma826klj2hcft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649122217063-grv5etqso217e7bher2ma826klj2hcft</string>
	<key>API_KEY</key>
	<string>AIzaSyDSQW4j80ctgeuNtYc4Di4AtkmWd_HmfaY</string>
	<key>GCM_SENDER_ID</key>
	<string>649122217063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brandon.RoommateFinder</string>
	<key>PROJECT_ID</key>
	<string>roommatefinder-dc00e</string>
	<key>STORAGE_BUCKET</key>
	<string>roommatefinder-dc00e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649122217063:ios:b899c11b83076393</string>
	<key>DATABASE_URL</key>
	<string>https://roommatefinder-dc00e.firebaseio.com</string>
</dict>
</plist>